In [1]:
from finrl.marketdata.yahoodownloader import YahooDownloader

In [2]:
from finrl.config import config

In [3]:
df = YahooDownloader(start_date = config.START_DATE,
                     end_date = config.END_DATE,
                     ticker_list = config.DOW_30_TICKER).fetch_data()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
Shape of DataFrame:  (89370, 8)
Display DataFrame:           date      open      high       low     close     adjcp        volume  \
0  2009-01-02  3.067143  3.251429  3.041429  3.241071  2.773207  7.460152e+08
1  2009-01-05  3.327500  3.435000  3.311071  3.377857  2.890248  1.181608e+09
2  2009-01-06  3.426786  3.470357  3.299643  3.322143  2.842576  1.289310e+09
3  2009-01-07  3.278929  3.303571  3.223572  3.250357  2.781153  7.530488e+08
4  2009-01-08  3.229643  3.326786  3.215714  3.310714  2.832797  6.735008e+08

    tic
0  AAPL
1  AAPL
2  AAPL
3  AAPL
4  AAPL

In [4]:
df

,date,open,high,low,close,adjcp,volume,tic
0,2009-01-02,3.067143,3.251429,3.041429,3.241071,2.773207,7.460152e+08,AAPL
1,2009-01-05,3.327500,3.435000,3.311071,3.377857,2.890248,1.181608e+09,AAPL
2,2009-01-06,3.426786,3.470357,3.299643,3.322143,2.842576,1.289310e+09,AAPL
3,2009-01-07,3.278929,3.303571,3.223572,3.250357,2.781153,7.530488e+08,AAPL
4,2009-01-08,3.229643,3.326786,3.215714,3.310714,2.832797,6.735008e+08,AAPL
...,...,...,...,...,...,...,...,...
89365,2020-10-26,59.119999,59.119999,57.840000,58.500000,58.500000,3.543700e+06,DD
89366,2020-10-27,58.230000,58.400002,57.139999,57.349998,57.349998,6.740400e+06,DD
89367,2020-10-28,56.000000,56.869999,55.630001,55.910000,55.910000,5.259300e+06,DD
89368,2020-10-29,55.259998,58.700001,55.230000,57.959999,57.959999,6.488900e+06,DD
89369,2020-10-30,57.580002,58.110001,56.180000,56.880001,56.880001,5.363100e+06,DD